@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*All content*/
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap'); /*Main title only*/

*{font-family: 'Poppins', sans-serif;}
body, button{
    background-color: #F9F7F2;
    border: none;
}

header, table{
    padding: 25px 0px;
    margin: 50px 0px;
    min-width: 100%;   
}

h1{font-size: 8em;} /* Telas normais 5em */
h2{font-size: 4em;} /* Telas normais 2em */



tr{
    margin: 100px 0px;
    font-size: 2em; /* Telas normais 1.5em */
    
}

td{     
    padding: 15px 0;
}

img{
    width: 50px;
    
}
