li{
    list-style: none;
    background-color: #ebebeb;
    padding: 20px;
    font-size: 1.3em;
    border-radius: 10px;
}
.id{
    display: inline-block;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: #626262;
    color: white;
}
header{
    padding: 20px 0 45px 0;
}
.btn-primary{
    font-size: 1em;
    background-color: #4F4F4F;
    border: #4F4F4F;
    margin-top: 10px;
    padding: 10px 30px;
}
.form-control{
    border-radius: 5px;
}
.content-title, .content-form{
    margin: 20px 0px;
}